<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiply Matrices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        td {
            border: 2px black solid;
            height: 2em;
            width: 2em;
            font-weight: bold;
            font-size: xx-large;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Multiply Matrices</h1>
    <p>Matrices should be in a txt file with values separated by a space, and rows on different lines</p>
    <p>For example:</p>
    <p class="mb-0">1 2 3</p>
    <p class="mb-0">0 4 1</p>
    <p>0 2 3</p>

    <form action="">
        <input class="form-control mb-4 txt" id="mat1" type="file" accept=".txt">
        <input class="form-control mb-5 txt" id="mat2" type="file" accept=".txt">
        <button class="btn btn-success" id="btnSubmit">Submit</button>
    </form>

    <div id="result-container" class="mt-5" style="width: 50%; margin: 0 auto;">
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(function () {
        {#alert("working")#}
        $("#btnSubmit").on("click", function (e) {
            e.preventDefault()
            const form = new FormData()
            let num_files = $(".txt").length

            $(".txt").each(function (i, el) {
                let files;
                files = $(el).prop("files")

                if (files.length > 0) {
                    const file = files[0]
                    const r = new FileReader()

                    r.onload = () => {
                        fetch(r.result)
                            .then(res => res.blob())
                            .then(blob => {
                                form.append(`mat${i + 1}`, blob, file.name)
                                if (!--num_files) submit(form)
                            })
                    }

                    r.readAsDataURL(file)
                }
            })

            const renderResult = (result) => {
                const table = $("<table/>")

                for (let i = 0; i < result.length; i++) {
                    const result_row = result[i]
                    const row = $("<tr/>")
                    for (let j = 0; j < result_row.length; j++) {
                        row.append($("<td/>").text(result_row[j]))
                    }
                    table.append(row)
                }

                $("#result-container").empty().append(table)
            }

            const submit = (f) => {
                $.ajax({
                    url: "/mult_matrices",
                    type: "POST",
                    data: f,
                    processData: false,
                    contentType: false,
                })
                    .done(data => {
                        renderResult(data)
                    })
            }

        })
    })
</script>
</body>
</html>